.CameraContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../Camera.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.CameraText {
  color: var(--security-red);
  font-size: 1.2em;
  text-align: center;
}
