.LogContainer {
  min-height: 500px;
}
.ActivityLog {
  padding: 1em;
  line-height: 2em;
  text-transform: uppercase;
  font-size: 0.8em;
}
.LogTitle {
  display: grid;
  grid-template-columns: 1fr 1fr 6fr;
}
.LogTitleDate {
}
.LogTitleActivity {
}
.ActivityLogList {
  padding: 0;
  opacity: 70%;
}
.Log {
  display: grid;
  grid-template-columns: 1fr 1fr 6fr;
  color: var(--security-light-grey);
}

.LogSuccess {
  color: var(--security-green);
}
.LogAlert {
  color: var(--security-red);
}

.LogWarning {
  color: var(--security-amber);
}

.LogInformational {
  color: var(--security-);
}
.LoadingText {
  text-align: center;
  font-size: 1.5em;
}
