.doorSensorSVG {
  pointer-events: bounding-box;
}
.triggerZone .triggerEXTZoneSensor {
  opacity: 1;
}

.alertSensorOff {
  display: none;
}

.triggerZoneCenterActivated rect {
  opacity: 0.6;
}

.triggerZoneCenter rect {
  opacity: 0.3;
}

.triggerZone:hover .triggerEXTZoneSensor {
  opacity: 0.9;
  fill: var(--security-red);
}

.triggerZoneCenter rect:hover {
  opacity: 0.6;
}

.zoneAlert {
  fill: black;
  pointer-events: none;
  opacity: 0.8;
  stroke: var(--security-red);
  stroke-width: 12px;
}

.alarmAlert {
  animation: alarmAlerter 0.5s ease-in-out infinite;
}

@keyframes alarmAlerter {
  50% {
    /* opacity: 0; */
    fill: red;
  }
}

.CameraSVG {
  opacity: 0;
}

.doorLabelSvg {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.doorSensorSVG {
  cursor: pointer;
}
.doorSensorSVG:hover line {
  stroke-width: 2px;
}
.DoorLabelText {
  fill: white;
  font-size: 16px;
  pointer-events: none;
}
