#triggerZone #triggerEXTZoneSensor1 {
  opacity: 1;
}

#alertSensor1 {
  display: none;
}

#triggerZone1:hover > #alertSensor1 {
  display: block;
  opacity: 1;
}

#triggerZone1 rect {
  opacity: 0.3;
}

#triggerZone:hover #triggerEXTZoneSensor1 {
  opacity: 0.9;
  fill: var(--security-red);
}

#triggerZone1 rect:hover {
  opacity: 0.6;
}

.zoneAlert {
  animation: zoneAlerter 2.5s ease-in-out infinite;
}

@keyframes zoneAlerter {
  50% {
    /* opacity: 0; */
    fill: black;
  }
}

.alarmAlert {
  animation: alarmAlerter 0.5s ease-in-out infinite;
}

@keyframes alarmAlerter {
  50% {
    /* opacity: 0; */
    fill: red;
  }
}
